<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 여러 태그를 묶어서 루프 돌리고 싶을 때 사용하는 게 th:block. 렌더링 시 제거됨. 웬만하면 쓰지 말자. -->
<th:block th:each="user : ${users}">
    <div>
        사용자 이름1 <span th:text="${user.username}"></span>
        사용자 나이1 <span th:text="${user.age}"></span>
    </div>
    <div>
        요약 <span th:text="${user.username} + ' / ' + ${user.age}"></span>
    </div>
    <br/>
</th:block>
</body>
</html>
